#error {
    margin: 1em auto;
    max-width: 660px;
    padding: 0 20px;
    color: #333;
    font-family: 'Open Sans', Arial, Helvetica, sans-serif;
    font-size: .95em;
}

h1 {
    margin-top: 2em;
    margin-bottom: 0;
    font-size: 1.2em;
}

    h1 a:link,
    h1 a:visited,
    h1 a:hover,
    h1 a:active {
        color: #111;
        font-weight: 900;
        text-decoration: none;
        text-transform: uppercase;
    }

h2 {
    margin-top: .5em;
    font-size: .7em;
    font-weight: 400;
    color: #999;
    text-transform: uppercase;
    letter-spacing: .2em;
}

h3 {
    margin-top: 2em;
    font-size: 2em;
    color: #c30;
}

h4 {
    font-weight: 600;
    color: #333;
}

a:link,
a:visited {
    text-decoration: none;
    color: #c30;
}

a:hover {
    text-decoration: underline;
}

a:active {
    color: inherit;
}

.fa {
    margin-right: .4em;
}