body {
    display: flex;
    -ms-flex-direction: column;
    -webkit-flex-direction: column;
    flex-direction: column;
    -ms-align-content: flex-start;
    -webkit-align-content: flex-start;
    align-content: flex-start;
    margin: 0;
    padding: 0;
    color: #444;
    font-family: 'Open Sans', Arial, Helvetica, sans-serif;
    -ms-word-wrap: break-word;
    word-wrap: break-word;
}

    body > header > div,
    body > main > article,
    body > main > aside,
    body > main > div,
    body > main > p,
    body > footer > p {
        margin: 1em auto;
        max-width: 600px;
        padding: 0 20px;
    }

    body > header {
        order: 0;
    }

    body > main {
        order: 2;
    }

    body > footer {
        order: 3;
        margin-top: 2em;
    }

    body > header h1 {
        margin-bottom: 0;
        font-size: 1.1em;
    }

        body > header h1 a:link,
        body > header h1 a:visited,
        body > header h1 a:hover,
        body > header h1 a:active {
            color: #111;
            font-weight: 900;
            text-decoration: none;
            text-transform: uppercase;
        }

    body > header h2 {
        margin-top: .5em;
        font-size: .7em;
        font-weight: 400;
        color: #999;
        text-transform: uppercase;
        letter-spacing: .2em;
    }

    body > nav {
        display: none;
        order: 1;
        margin: 1em 0;
        background: #f1f1f1;
    }

        body > nav > ul {
            margin: 0;
            padding: 0;
            list-style: none;
        }

            body > nav > ul > li > a:link,
            body > nav > ul > li > a:visited {
                display: block;
                border-bottom: 1px solid #fff;
                padding: .75em 0;
                color: #444;
                font-weight: 600;
                font-size: .8em;
                text-align: center;
                text-transform: uppercase;
                text-decoration: none;
            }

            body > nav > ul > li > a:hover,
            body > nav > ul > li > a:active {
                color: #cfca4c;
                text-decoration: none;
            }

    body > footer > p {
        margin-bottom: 2em;
        font-size: .85em;
        color: #888;
    }

a:link,
a:visited {
    text-decoration: none;
    color: #c30;
    font-weight: 600;
}

a:hover {
    text-decoration: underline;
}

a:active {
    color: inherit;
}

h1 {
    margin: 1.3em 0;
    font-size: 2.1em;
    font-weight: 700;
    color: #000;
}

h2 {
    font-size: 1.8em;
    color: #000;
}

h3 {
    font-size: 1.3em;
    font-weight: 700;
    color: #000;
}

h4 {
    font-size: 1em;
    font-weight: 700;
    color: #222;
}

p, aside {
    line-height: 2em;
}

code {
    display: inline-block;
    border: 1px solid #e5e5e5;
    padding: .1em .3em;
    -ms-border-radius: 3px;
    border-radius: 3px;
    background: #fafafa;
    white-space: pre-wrap;
    font-family: Menlo, Monaco, Consolas, 'Courier New', monospace;
    line-height: 1.6em;
    font-size: .85em;
    color: #333;
    text-align: left;
    -moz-word-break: break-all;
    -o-word-break: break-all;
    word-break: break-all;
}

pre {
    overflow-x: hidden;
}

    pre > code {
        display: block;
        padding: .5em 0 .5em 1em;
        -moz-word-break: normal;
        -o-word-break: normal;
        word-break: normal;
    }

strong {
    color: #222;
}

img {
    margin: 0;
    max-width: 100%;
    max-height: 100%;
}

kbd {
    border: 1px solid #888;
    padding: .2em .5em;
    -ms-border-radius: 3px;
    border-radius: 3px;
}

article > header > h1:first-child {
    margin-top: .5em;
    border-top: 1px solid #efefef;
    padding-top: 1em;
}

article:first-child > header > h1:first-child {
    margin-top: 1em;
    border-top: none;
    padding-top: 0;
}

article h1 a:link,
article h1 a:visited {
    color: #000;
    text-decoration: none;
    font-weight: 700;
}

article h1 a:hover {
    color: #c30;
}

article h1 a:active {
    color: inherit;
}

article h1 a::before {
    margin-right: .3em;
    content: '#';
    color: #cfca4c;
}

article li {
    margin: .2em 0;
    line-height: 2em;
}

article footer {
    padding: .2em 0 2em 0;
}

    article footer h1 {
        margin: .5em 0;
        font-size: .85em;
        font-weight: 600;
        color: #888;
    }

article > footer .fa::before {
    display: inline-block;
    margin: .5em .1em 0 0;
    font-size: 1.5em;
}

article > footer > a:link,
article > footer > a:visited,
article > footer > a:hover,
article > footer > a:active {
    margin: 0 1em 0 0;
    text-decoration: none;
}

blockquote {
    background: #f1f1f1;
    border-left: 5px solid #c90;
    margin: 1.5em 0;
    padding: .6em 1em;
}

    blockquote > p:first-child {
        margin-top: 0;
    }

    blockquote > p:last-child {
        margin-bottom: 0;
    }

    blockquote > footer {
        margin: 0 0 0.3em 0;
        padding: 0;
    }

        blockquote > footer > cite {
            font-size: .85em;
            font-weight: 600;
            font-style: italic;
        }

            blockquote > footer > cite > a:before {
                content: '- ';
            }

#nav-toggle-button {
    display: block;
    position: absolute;
    right: 10px;
    top: 1.5em;
    background: transparent;
    border: none;
    padding: .6em 1em;
    cursor: pointer;
}

    #nav-toggle-button:focus {
        outline: 0;
    }

.nav-toggle-btn-bar {
    display: block;
    margin: 5px 0;
    width: 25px;
    height: 2px;
    background: #222;
}

#contact, #subscribe {
    padding-left: 0;
    list-style: none;
}

    #contact li, #subscribe li {
        margin: .6em 0;
    }

.half-width {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    max-width: 100%;
}

.two-third-width {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    max-width: 100%;
}

.icon::before {
    display: inline-block;
    margin-right: .5em;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    -ms-text-rendering: auto;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-transform: translate(0, 0);
    -moz-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    -o-transform: translate(0, 0);
    transform: translate(0, 0);
}

.icon-larger::before {
    font-size: 1.5em;
    margin-right: .3em;
}

.article-metadata {
    margin: 0 0 2.5em 0;
    color: #777;
    text-align: left;
    font-size: .9em;
}

    .article-metadata > time,
    .article-metadata > address,
    .article-metadata > a,
    .tags {
        font-style: normal;
        display: block;
        margin: .6em 0;
    }

    .article-metadata a:link,
    .article-metadata a:visited {
        font-weight: 400;
        color: #777;
    }

.tags {
    text-align: left;
}

    .tags > a {
        margin-right: .5em;
    }

        .tags > a:last-child {
            margin-right: 0;
        }

.pager {
    display: flex;
    -ms-flex-direction: row-reverse;
    -webkit-flex-direction: row-reverse;
    flex-direction: row-reverse;
    justify-content: space-between;
}

.screenreader-only {
    position: absolute;
    margin: -1px;
    border: 0;
    padding: 0;
    width: 1px;
    height: 1px;
    overflow: hidden;
}

#avatar {
    max-width: 250px;
    -ms-border-radius: 3px;
    border-radius: 3px;
}

@media all and (max-width: 480px) {

    pre > code {
        font-size: .75em;
    }
}

@media all and (max-width: 640px) {

    .nav-expanded {
        display: block;
    }

    .nav-collapsed {
        display: none;
    }
}

@media all and (min-width: 640px) {

    body > nav {
        display: block;
        margin: .5em 0 0 0;
        justify-content: flex-end;
        align-items: center;
    }

        body > nav > ul {
            margin: 0 auto;
            max-width: 600px;
            padding: 0 20px;
            text-align: right;
        }

            body > nav > ul > li {
                display: inline;
            }

                body > nav > ul > li > a:link,
                body > nav > ul > li > a:visited {
                    display: inline-block;
                    margin-left: 1.5em;
                    border-bottom: 3px solid transparent;
                    padding: .75em .4em;
                }

                body > nav > ul > li > a:hover,
                body > nav > ul > li > a:active {
                    color: #000;
                    border-bottom: 3px solid #cfca4c;
                }

    .article-metadata time,
    .article-metadata address,
    .article-metadata a {
        display: inline;
    }

    .article-metadata > address,
    .article-metadata > .edit-article,
    .article-metadata > .disqus-comment-count {
        margin-left: .5em;
    }

    .half-width {
        max-width: 50%;
    }

    .two-third-width {
        max-width: 66%;
    }

    #nav-toggle-button {
        display: none;
    }

    #about {
        margin-top: 3em;
    }

        #about h1 {
            display: inline;
        }

    #avatar-link {
        float: left;
        max-width: 260px;
        margin-right: 2em;
        margin-bottom: .5em;
    }

        #avatar-link:after {
            content: " ";
            visibility: hidden;
            display: block;
            height: 0;
            clear: both;
        }

    #avatar {
        max-width: 185px;
    }

    .mobile-only {
        display: none !important;
    }

    pre > code {
        font-size: .85em;
    }
}
