body {
    display: flex;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap;
    -ms-align-content: flex-start;
    -webkit-align-content: flex-start;
    align-content: flex-start;
    margin: 0;
    padding: 0;
    color: #333;
    font-family: 'Open Sans', Arial, Helvetica, sans-serif;
    font-size: .95em;
}

    body > header,
    body > main,
    body > nav,
    body > footer {
        flex-basis: 100%;
    }

        body > header > div,
        body > main > article,
        body > main > aside,
        body > main > div,
        body > footer > p {
            margin: 1em auto;
            max-width: 600px;
            padding: 0 20px;
        }

    body > header {
        order: 0;
    }

        body > header h1 {
            margin-bottom: 0;
            font-size: 1.2em;
        }

            body > header h1 a:link,
            body > header h1 a:visited,
            body > header h1 a:hover,
            body > header h1 a:active {
                color: #111;
                font-weight: 900;
                text-decoration: none;
                text-transform: uppercase;
            }

        body > header h2 {
            margin-top: .5em;
            font-size: .7em;
            font-weight: 400;
            color: #999;
            text-transform: uppercase;
            letter-spacing: .2em;
        }

    body > nav {
        margin: 2em 0;
        background: #f5f5f5;
    }

        body > nav > ul {
            margin: 0;
            padding: 0;
            list-style: none;
        }

            body > nav > ul > li > a:link,
            body > nav > ul > li > a:visited {
                display: block;
                border-bottom: 1px solid #fff;
                padding: .75em 0;
                color: #555;
                font-weight: 600;
                font-size: .85em;
                text-align: center;
                text-transform: uppercase;
                text-decoration: none;
            }

            body > nav > ul > li > a:hover,
            body > nav > ul > li > a:active {
                color: #cfca4c;
                text-decoration: none;
            }

    body > footer > p {
        margin-bottom: 2em;
        font-size: .85em;
        color: #888;
    }

a:link,
a:visited {
    text-decoration: none;
    color: #c30;
    font-weight: 600;
}

a:hover {
    text-decoration: underline;
}

a:active {
    color: inherit;
}

h1 {
    margin: 1.3em 0;
    font-size: 2.1em;
    font-weight: 700;
    color: #000;
}

h2 {
    font-size: 1.8em;
    color: #000;
}

h3 {
    font-size: 1.3em;
    font-weight: 700;
    color: #000;
}

h4 {
    font-size: 1em;
    font-weight: 700;
    color: #222;
}

p {
    text-align: justify;
    line-height: 1.8;
}

pre {
    border: 1px solid #e5e5e5;
    padding: .5em 0 .5em 1em;
    -ms-border-radius: 4px;
    border-radius: 4px;
    background: #fafafa;
}

code {
    white-space: pre-wrap;
    -ms-word-wrap: break-word;
    word-wrap: break-word;
    font-family: Menlo, Monaco, Consolas, 'Courier New', monospace;
    color: #333;
    font-size: .85em;
    line-height: 1.6em;
}

img {
    margin: 0;
    max-width: 100%;
    max-height: 100%;
}

article > header > h1:first-child {
    margin-top: .5em;
    border-top: 1px solid #efefef;
    padding-top: 1em;
}

article:first-child > header > h1:first-child {
    margin-top: 1em;
    border-top: none;
    padding-top: 0;
}

article h1 a:link,
article h1 a:visited {
    color: #000;
    text-decoration: none;
    font-weight: 700;
}

article h1 a:hover {
    color: #c30;
}

article h1 a:active {
    color: inherit;
}

article h1 a::before {
    margin-right: .3em;
    content: '#';
    color: #cfca4c;
}

article li {
    margin: .5em 0;
    text-align: justify;
    line-height: 1.8;
}

article footer {
    padding: .2em 0 2em 0;
}

    article footer h1 {
        margin: .5em 0;
        font-size: .85em;
        font-weight: 600;
        color: #888;
    }

article > footer .fa::before {
    display: inline-block;
    margin: .5em .1em 0 0;
    font-size: 1.5em;
}

article > footer > a:link,
article > footer > a:visited,
article > footer > a:hover,
article > footer > a:active {
    margin: 0 1em 0 0;
    text-decoration: none;
}

blockquote {
    background: #fafae7;
    border-left: 10px solid #e1e1d7;
    margin: 1.5em 0;
    padding: 0.5em 10px;
}

blockquote a {
    display: block;
    margin-top: .8em;
    font-size: .85em;
    font-weight: 500;
    font-style: italic;
}

#avatar {
    border: 1px solid #d1d1d1;
    padding: 3px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

#contact {
    padding-left: 0;
    list-style: none;
}

.half-width {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    max-width: 100%;
}

.icon::before {
    display: inline-block;
    margin-right: .5em;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    -ms-text-rendering: auto;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-transform: translate(0, 0);
    -moz-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    -o-transform: translate(0, 0);
    transform: translate(0, 0);
}

.article-metadata {
    margin: 0 0 2.5em 0;
    color: #777;
    text-align: left;
    font-size: .9em;
}

    .article-metadata > time,
    .article-metadata > address,
    .article-metadata > a,
    .article-metadata > .tags {
        display: block;
        margin: 0.4em 0;
    }

    .article-metadata a:link,
    .article-metadata a:visited {
        font-weight: 400;
        color: #777;
    }

    .article-metadata > .tags {
        text-align: left;   
    }

.tag {
    margin-right: .5em;
}

    .tag:last-child {
        margin-right: 0;
    }

.pager-prev {
    float: left;
}

.pager-next {
    float: right;
}

@media all and (min-width: 480px) {


    body > main {
        order: 2;
    }

    body > footer {
        order: 3;
        margin-top: 2em;
    }

    body > nav {
        order: 1;
        margin: .5em 0 0 0;
        justify-content: flex-end;
        align-items: center;
    }

        body > nav > ul {
            margin: 0 auto;
            max-width: 600px;
            padding: 0 20px;
            text-align: right;
        }

            body > nav > ul > li {
                display: inline;
            }

                body > nav > ul > li > a:link,
                body > nav > ul > li > a:visited {
                    display: inline-block;
                    margin-left: 2em;
                    border-bottom: 3px solid transparent;
                    padding: .75em .4em;
                }

                body > nav > ul > li > a:hover,
                body > nav > ul > li > a:active {
                    color: #000;
                    border-bottom: 3px solid #cfca4c;
                }

    .article-metadata time,
    .article-metadata address,
    .article-metadata a {
        display: inline;
    }

    .article-metadata > address,
    .article-metadata > .edit-article,
    .article-metadata > .disqus-comment-count {
        margin-left: .5em;
    }

    .half-width {
        max-width: 50%;
    }

    #about {
        margin-top: 3em;
    }

        #about h1 {
            display: inline;
        }

    #avatar-link {
        float: left;
        max-width: 375px;
        margin-right: 2em;
        margin-bottom: .5em;
    }

        #avatar-link:after {
            content: " ";
            visibility: hidden;
            display: block;
            height: 0;
            clear: both;
        }
}
