/*Fixing monospace handling across browsers*/
pre,
code,
kbd,
samp {
    font-family: monospace, monospace;
    font-size: 1em;
}

body {
    display: flex;
    -ms-flex-direction: column;
    -webkit-flex-direction: column;
    flex-direction: column;
    -ms-align-content: flex-start;
    -webkit-align-content: flex-start;
    align-content: flex-start;
    margin: 0;
    padding: 0;
    color: #444;
    font-family: 'Open Sans', Arial, Helvetica, sans-serif;
    -ms-word-wrap: break-word;
    word-wrap: break-word;
}

    body > header > div,
    body > main > article,
    body > main > aside,
    body > main > div,
    body > main > p,
    #inner-footer {
        margin: 1em auto;
        max-width: 600px;
        padding: 0 20px;
    }

    body > header {
        order: 0;
    }

    body > main {
        order: 2;
    }

    body > footer {
        order: 3;
        background: #111;
        margin-top: 2em;
    }

    body > header h1 {
        margin-bottom: 0;
        font-size: 1.1em;
    }

        body > header h1 a:link,
        body > header h1 a:visited,
        body > header h1 a:hover,
        body > header h1 a:active {
            color: #333;
            font-weight: 900;
            text-decoration: none;
            text-transform: uppercase;
        }

    body > header h2 {
        margin-top: .5em;
        font-size: .7em;
        font-weight: 400;
        color: #999;
        letter-spacing: .2em;
    }

    body > nav {
        display: none;
        order: 1;
        margin: 1em 0;
        background: #f1f1f1;
    }

        body > nav > ul {
            margin: 0;
            padding: 0;
            list-style: none;
        }

            body > nav > ul > li > a:link,
            body > nav > ul > li > a:visited {
                display: block;
                border-bottom: 1px solid #fff;
                padding: .85em 0;
                color: #444;
                font-weight: 600;
                font-size: .85em;
                text-align: center;
                text-transform: uppercase;
                text-decoration: none;
            }

            body > nav > ul > li > a:hover,
            body > nav > ul > li > a:active {
                color: #cfca4c;
                text-decoration: none;
            }

#inner-footer {
    display: flex;
    -ms-flex-flow: row wrap;
    -webkit-flex-flow: row wrap;
    flex-flow: row wrap;
    font-family: Helvetica, Arial, sans-serif;
}

#footer-about {
    order: 1;
}

#footer-copyright {
    order: 2;
}

#inner-footer h5 {
    margin-bottom: 0;
    font-size: .9em;
    color: #888;
}

#inner-footer p {
    font-size: .9em;
    line-height: 1.7em;
    color: #666;
}

#inner-footer a {
    font-weight: normal;
}

#footer-social-links {
    margin: 1em 0;
    text-align: center;
}

    #footer-social-links a {
        display: inline-block;
        padding: 0 .5em;
        font-size: .9em;
        color: #222;
        text-decoration: none;
    }

        #footer-social-links a:hover {
            color: #444;
        }

a:link,
a:visited {
    text-decoration: none;
    color: #c30;
    font-weight: 600;
}

a:hover {
    text-decoration: underline;
}

a:active {
    color: inherit;
}

h1 {
    margin: 1.3em 0;
    font-size: 2.1em;
    font-weight: 700;
    color: #000;
}

h2 {
    font-size: 1.8em;
    color: #000;
}

h3 {
    font-size: 1.3em;
    font-weight: 700;
    color: #000;
}

h4 {
    font-size: 1em;
    font-weight: 700;
    color: #222;
}

p, aside {
    line-height: 2em;
}

code {
    display: inline-block;
    border: 1px solid #e5e5e5;
    padding: .1em .3em;
    -ms-border-radius: 3px;
    border-radius: 3px;
    background: #fafafa;
    white-space: pre-wrap;
    font-family: Menlo, Monaco, Consolas, 'Courier New', monospace;
    line-height: 1.6em;
    font-size: .85em;
    color: #333;
    text-align: left;
    -moz-word-break: break-all;
    -o-word-break: break-all;
    word-break: break-all;
}

pre {
    overflow-x: hidden;
}

    pre > code {
        display: block;
        padding: .5em 0 .5em 1em;
        -moz-word-break: normal;
        -o-word-break: normal;
        word-break: normal;
    }

strong {
    color: #222;
}

img {
    margin: 0;
    max-width: 100%;
    max-height: 100%;
}

kbd {
    border: 1px solid #888;
    padding: .2em .5em;
    -ms-border-radius: 3px;
    border-radius: 3px;
    font-size: .85em;
}

article > header > h1:first-child {
    margin-top: .5em;
    border-top: 1px solid #efefef;
    padding-top: 1em;
}

article:first-child > header > h1:first-child {
    margin-top: 1em;
    border-top: none;
    padding-top: 0;
}

article h1 a:link,
article h1 a:visited {
    color: #000;
    text-decoration: none;
    font-weight: 700;
}

article h1 a:hover {
    color: #c30;
}

article h1 a:active {
    color: inherit;
}

article h1 a::before {
    margin-right: .3em;
    content: '#';
    color: #cfca4c;
    font-size: .75em;
}

article li {
    margin: .2em 0;
    line-height: 2em;
}

article > footer {
    padding: 1em 0 2em 0;
    text-align: center;
}

    article > footer .fa-stack-2x {
        font-size: 2em;
    }

    article > footer .fa-stack-1x {
        font-size: .8em;
    }

    article > footer > a:link,
    article > footer > a:visited,
    article > footer > a:hover,
    article > footer > a:active {
        text-decoration: none;
        color: #333;
        -ms-opacity: 1;
        opacity: 1;
        margin: .2em;
    }

blockquote {
    background: #f1f1f1;
    border-left: 5px solid #c90;
    margin: 1.5em 0;
    padding: .6em 1em;
}

    blockquote > p:first-child {
        margin-top: 0;
    }

    blockquote > p:last-child {
        margin-bottom: 0;
    }

    blockquote > footer {
        margin: 0 0 0.3em 0;
        padding: 0;
    }

        blockquote > footer > cite {
            font-size: .85em;
            font-weight: 600;
            font-style: italic;
        }

            blockquote > footer > cite > a:before {
                content: '- ';
            }

#nav-toggle-button {
    display: block;
    position: absolute;
    right: 10px;
    top: 1.5em;
    background: transparent;
    border: none;
    padding: .6em 1em;
    cursor: pointer;
}

    #nav-toggle-button:focus {
        outline: 0;
    }

.nav-toggle-btn-bar {
    display: block;
    margin: 5px 0;
    width: 25px;
    height: 2px;
    background: #222;
}

#contact, #subscribe {
    padding-left: 0;
    list-style: none;
}

    #contact li, #subscribe li {
        margin: .6em .5em;
    }

    #contact .icon:before, #subscribe .icon:before {
        font-size: 1.3em;
        margin-right: .7em;
    }

.half-width {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    max-width: 100%;
}

.two-third-width {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    max-width: 100%;
}

.icon::before {
    display: inline-block;
    margin-right: .5em;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    -ms-text-rendering: auto;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-transform: translate(0, 0);
    -moz-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    -o-transform: translate(0, 0);
    transform: translate(0, 0);
}

.icon-larger::before {
    font-size: 1.5em;
    margin-right: .3em;
}

.article-metadata {
    margin: 0 0 2.5em 0;
    color: #777;
    text-align: left;
    font-size: .9em;
}

    .article-metadata .icon:before {
        color: #999;
    }

    .article-metadata > address {
        display: none;
    }

    .article-metadata > time,
    .article-metadata > a,
    .tags {
        font-style: normal;
        display: block;
        margin: .6em 0;
    }

    .article-metadata a:link,
    .article-metadata a:visited {
        font-weight: 400;
        color: #777;
    }

.tags {
    text-align: left;
}

    .tags > a:after {
        content: ',';
    }

    .tags > a:last-child:after {
        content: '';
    }

    .tags > a {
        margin-right: .3em;
    }

        .tags > a:last-child {
            margin-right: 0;
        }

.pager {
    display: flex;
    -ms-flex-direction: row-reverse;
    -webkit-flex-direction: row-reverse;
    flex-direction: row-reverse;
    justify-content: space-between;
}

.screenreader-only {
    position: absolute;
    margin: -1px;
    border: 0;
    padding: 0;
    width: 1px;
    height: 1px;
    overflow: hidden;
}

#avatar {
    max-width: 250px;
    -ms-border-radius: 3px;
    border-radius: 3px;
}

#trending li {
    padding-left: .5em;
    margin-bottom: 1em;
}

#trending .article-metadata {
    font-size: .85em;
    padding: 0;
    margin: 0;
}

    #trending .article-metadata > span {
        margin: 0 .5em 0 0;
        padding: 0;
        line-height: 1.5em;
    }

    #trending .article-metadata > a {
        padding: 0;
        margin: 0;
    }

.mail-colour {
    color: #E38217;
}

.twitter-colour {
    color: #4099ff;
}

.facebook-colour {
    color: #3b5998;
}

.linkedin-colour {
    color: #0077b5;
}

.google-plus-colour {
    color: #dc4e41;
}

.yammer-colour {
    color: #5aa8bf;
}

.reddit-colour {
    color: #ff4500;
}

.whatsapp-colour {
    color: #43d854;
}

@media all and (max-width: 480px) {

    pre > code {
        font-size: .75em;
    }
}

@media all and (max-width: 640px) {

    .nav-expanded {
        display: block;
    }

    .nav-collapsed {
        display: none;
    }
}

@media all and (min-width: 640px) {

    body > nav {
        display: block;
        margin: 1em 0 1em 0;
        justify-content: flex-start;
        align-items: center;
        background: #fff;
    }

        body > nav > ul {
            margin: 0 auto;
            max-width: 600px;
            padding: 0 20px;
            text-align: left;
        }

            body > nav > ul > li {
                display: inline;
            }

                body > nav > ul > li > a:link,
                body > nav > ul > li > a:visited {
                    display: inline-block;
                    margin-right: 1.5em;
                    margin-bottom: 1px;
                    border-bottom: 2px solid #f1f1f1;
                    padding: .75em .4em .75em .4em;
                    font-size: .75em;
                }

                body > nav > ul > li > a:hover,
                body > nav > ul > li > a:active {
                    margin-bottom: 0;
                    border-bottom: 3px solid #cfca4c;
                    color: #000;
                }

    .article-metadata time,
    .tags {
        display: inline;
        margin-right: .5em;
    }

    .article-metadata > .disqus-comment-count {
        display: inline-block;
    }

    article > footer > a:link,
    article > footer > a:visited {
        -ms-opacity: .7;
        opacity: .7;
        margin: .2em;
    }

    article > footer > a:hover {
        -ms-opacity: 1;
        opacity: 1;
    }

    article > footer > a:active {
        -ms-opacity: .7;
        opacity: .7;
    }

    .half-width {
        max-width: 50%;
    }

    .two-third-width {
        max-width: 66%;
    }

    body > footer {
        margin-top: 3em;
    }

    #nav-toggle-button {
        display: none;
    }

    #inner-footer {
        padding-top: .5em;
        padding-bottom: 1.5em;
    }

        #inner-footer h5 {
            font-size: .8em;
        }

        #inner-footer p {
            font-size: .8em;
        }

    #footer-copyright {
        order: 1;
        max-width: 50%;
        padding-right: 7px;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
    }

    #footer-about {
        order: 2;
        max-width: 50%;
        padding-left: 7px;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
    }

    #footer-social-links {
        font-size: .8em;
        text-align: left;
    }

        #footer-social-links a:first-child {
            padding-left: 0;
        }

    #trending .article-metadata {
        font-size: .8em;
    }

    #about {
        margin-top: 3em;
    }

        #about h1 {
            display: inline;
        }

    #avatar-link {
        float: left;
        max-width: 260px;
        margin-right: 2em;
        margin-bottom: .5em;
    }

        #avatar-link:after {
            content: " ";
            visibility: hidden;
            display: block;
            height: 0;
            clear: both;
        }

    #avatar {
        max-width: 185px;
    }

    .mobile-only {
        display: none !important;
    }

    pre > code {
        font-size: .85em;
    }
}
