@using DustedCodes.Blog.ViewModels.Home
@model DustedCodes.Blog.ViewModels.Home.AboutViewModel
@{
    ViewBag.Title = "About";
}
<article id="about">
    <h1>About</h1>
    <a id="avatar-link" href="https://www.flickr.com/photos/130657798@N05/16563851608" title="Dustin Moris Gorski by Dustin Moris Gorski, on Flickr"><img id="avatar" src="https://c1.staticflickr.com/9/8578/16563851608_7a836c3b3d_n.jpg" alt="Dustin Moris Gorski"></a>
    <p>Hi, Welcome to my personal website, programming playground and software engineering blog! I'm Dustin, a software geek and developer originally from Vienna, Austria, but currently living in the UK for the last <a href="https://raw.githubusercontent.com/dustinmoris/DustedCodes/master/DustedCodes.Blog/ViewModels/Home/AboutViewModel.cs">@AboutViewModel.YearsLivingInLondon.ToString("F") years</a>.</p>
    <p>Currently I work as a software engineer at <a href="https://www.questionmark.com/">Questionmark</a> in their beautiful office in the <a href="https://www.google.com/search?q=beautiful+city+of+london&tbm=isch">City of London</a>. I work with multiple teams across multiple time zones in a very agile environment. Even though I call myself a .NET developer I deal with a great variety of different technology every day, which is not all part of the Microsoft stack.</p>
    <p>
        However, this website is not linked to my current employer and is entirely my own personal space, where I can share experiences, thoughts and ideas with other fellow developers who love programming just as much as I do.
    </p>
    <h2>What is Dusted Codes?</h2>
    <p>Early 2015 I started this blog as a little interesting and fun side project at home. Being impressed with the idea of <a href="https://pages.github.com/">GitHub Pages</a> and <a href="http://jekyllrb.com/">Jekyll</a> and wanting something similar in C# and .NET and eventually created this ASP.NET MVC blog engine myself.</p>
    <p>I mostly blog about web development topics with a strong focus on C# and .NET, agile methologies, web security concerns, good practise patterns, tools and other general programming subjects.</p>
    <p>This blog is an <a href="https://github.com/dustinmoris/DustedCodes">open source project on GitHub</a> and runs in Windows Azure.
    </p>
    <p>Feel free to <a href="https://github.com/dustinmoris/DustedCodes/fork">fork it</a> and create your own nerdy space in the world wide web!</p>
    <h2>Get in touch</h2>
    <ul id="contact">
        <li><a class="icon fa-twitter" href="https://twitter.com/dustinmoris">Twitter</a></li>
        <li><a class="icon fa-linkedin" href="https://uk.linkedin.com/in/dustinmoris">LinkedIn</a></li>
        <li><a class="icon fa-facebook-official" href="https://www.facebook.com/dustinmoris.gorski">Facebook</a></li>
        <li><a class="icon fa-bug" href="https://github.com/dustinmoris/personal-website/issues/new">Report an issue</a></li>
    </ul>
    <h2>Third Party Code</h2>
    <ul>
        <li>Open Sans by Steve Matteson - <a href="http://www.google.com/fonts/specimen/Open+Sans">Open Sans on Google Fonts</a></li>
        <li>Font Awesome by Dave Gandy - <a href="http://fontawesome.io">http://fontawesome.io</a></li>
        <li>Comment system by Disqus - <a href="https://disqus.com/websites/">https://disqus.com/websites/</a></li>
    </ul>
    <h2>License</h2>
    <p>All source code is licensed under <a href="http://www.gnu.org/licenses/gpl-2.0.html">GNU General Public License v2.0</a>.</p>
    <h2>Copyright</h2>
    <p>All other content on this website, such as text, graphics, logos and images is the property of Dustin Moris Gorski.</p>
</article>