@using DustedCodes.Blog.ViewModels.Home
@model AboutViewModel

<article id="about">
    <h1>About</h1>
    <a id="avatar-link" href="https://www.flickr.com/photos/130657798@N05/20423082133/in/photostream/" title="Dustin Moris Gorski"><img id="avatar" src="https://farm6.staticflickr.com/5685/20423082133_feab156671_o.png" alt="Dustin Moris Gorski"></a>

    <p>Hi, Welcome to my personal website, programming playground and software engineering blog! I'm Dustin, a software geek and developer originally from Vienna, Austria, but currently living in the UK for the last <a href="https://raw.githubusercontent.com/dustinmoris/DustedCodes/master/DustedCodes.Blog/ViewModels/Home/AboutViewModel.cs">@AboutViewModel.YearsLivingInLondon.ToString("F") years</a>.</p>
    <p>Currently I work as a server side developer at a global company in central London. I work with multiple teams across multiple time zones in a very agile environment. Even though I call myself a .NET developer I deal with a great variety of different technologies every day, which are not part of the Microsoft stack.</p>
    <p>
        However, this website is not linked to my current employer and is entirely my own personal space, where I can share experiences, thoughts and ideas with other fellow developers who love programming just as much as I do.
    </p>
    <h2>What is Dusted Codes?</h2>
    <p>Early 2015 I started this blog as a little interesting and fun side project at home. Being impressed with the idea of <a href="https://pages.github.com/">GitHub Pages</a> and <a href="http://jekyllrb.com/">Jekyll</a> I wanted something similar in C# and .NET and eventually created this ASP.NET MVC blog engine myself.</p>
    <p>Most of the time I blog about web development topics with a strong focus on C# and .NET, agile methologies, web security concerns, good practise patterns, tools and other general programming subjects.</p>
    <p>This blog is an <a href="https://github.com/dustinmoris/DustedCodes">open source project on GitHub</a> and runs in Windows Azure.
    </p>
    <p>Feel free to <a href="https://github.com/dustinmoris/DustedCodes/fork">fork it</a> and create your own nerdy space in the world wide web!</p>
    <h2>Get in touch</h2>
    <ul id="contact">
        <li><a class="icon fa-twitter icon-larger" href="https://twitter.com/dustinmoris">Twitter</a></li>
        <li><a class="icon fa-linkedin icon-larger" href="https://www.linkedin.com/in/dustinmoris">LinkedIn</a></li>
        <li><a class="icon fa-facebook-official icon-larger" href="https://www.facebook.com/dustinmoris.gorski">Facebook</a></li>
        <li><a class="icon fa-bug icon-larger" href="https://github.com/dustinmoris/DustedCodes/issues/new">Report an issue</a></li>
    </ul>
    <h2>Subscribe</h2>
    <ul id="subscribe">
        <li>@Html.ActionLink("RSS", "Rss", "Feed", null, new { @class = "icon fa-rss icon-larger" })</li>
        <li>@Html.ActionLink("Atom", "Atom", "Feed", null, new { @class = "icon fa-rss icon-larger" })</li>
    </ul>
    <h2>License</h2>
    <p>All source code is licensed under <a href="http://www.gnu.org/licenses/gpl-2.0.html">GNU General Public License v2.0</a>.</p>
    <h2>Copyright</h2>
    <p>All other content on this website, such as text, graphics, logos and images is the property of Dustin Moris Gorski.</p>
</article>