@{
    ViewBag.Title = "About";
}
<article id="about">
    <h1>About</h1>
    <a id="avatar-link" href="https://www.flickr.com/photos/130657798@N05/16563851608" title="Dustin Moris Gorski by Dustin Moris Gorski, on Flickr"><img id="avatar" src="https://farm9.staticflickr.com/8578/16563851608_370198e0d8_o.png" alt="Dustin Moris Gorski"></a>
    <p>Hi, Welcome to my personal website. I'm Dustin, originally from Vienna, Austria, but I moved to the UK in October 2012 and have lived in London since then.</p>
    <p>Currently I work as a software engineer at a great company called <a href="https://www.questionmark.com/">Questionmark</a>. I work with multiple teams across multiple time zones in a very agile environment. Even though I prefer to call myself a .NET developer I deal with a great variety of different server and client side technologies every day, which are not all part of the Microsoft stack.</p>
    <p>
        However, this website is not linked to my employer in the remotest way. It is my personal space, where I can share my experiences, thoughts and ideas with other fellow developers who love programming as much as I do. Please feel free to get involved and share your opinion on my blog posts with me. Feedback and constructive critique are always welcome!
    </p>
    <h2>What is Dusted Codes?</h2>
    <p>Dusted Codes, as you figured out, it is a word play related to my first name. It is the result of me trying to find a catchy phrase for my website + the domain name was still up for sale (have you ever tried to find a domain with less than 10 characters which isn't taken yet? You should try!).</p>
    <p>
        I created this blog (or what I prefer to call a journal - because everyone has a blog nowadays) in 2015. It is 100% self-made and hosted on GitHub as an <a href="https://github.com/dustinmoris/personal-website">open source project</a>. Not that I am a fan of re-inventing the wheel, but it was simply an enjoyable and fun side project at home, nothing more or less.
    </p>
    <p>Historically this is not my first web blog which I created. In 2012, in about 2 days I wrote a quick and dirty PHP website and managed to publish 3 blog posts before I ran into issues with my hosting provider at the time. Long story short, my first blog ended up in a long period of downtime and eventually disappeared from the web.</p>
    <p>Finally, a couple years later, I decided to bring my personal website back up again. After a series of late nights and some <em>eat-sleep-code-repeat</em> rotations I turned this empty space into a shiny new website!</p>
    <h2>Any Easter eggs?</h2>
    <p>Not really, but recently I bought some domains for a bargain and now you can reach this website via <a href="http://mypublic.website">http://mypublic.website</a> as well. This is that kind of stuff what happens when my brain goes mush after a long day at work :/.</p>
    <h2>Contact me</h2>
    <ul id="contact">
        <li><a class="icon fa-facebook-official" href="https://www.facebook.com/dustinmoris.gorski">Facebook</a></li>
        <li><a class="icon fa-twitter" href="https://twitter.com/dustinmoris">Twitter</a></li>
        <li><a class="icon fa-bug" href="https://github.com/dustinmoris/personal-website/issues/new">Report an issue</a></li>
    </ul>
    <h2>Third Party Code</h2>
    <ul>
        <li>Open Sans by Steve Matteson - <a href="http://www.google.com/fonts/specimen/Open+Sans">Open Sans on Google Fonts</a></li>
        <li>Font Awesome by Dave Gandy - <a href="http://fontawesome.io">http://fontawesome.io</a></li>
        <li>Comment system by Disqus - <a href="https://disqus.com/websites/">https://disqus.com/websites/</a></li>
    </ul>
    <h2>Licenses</h2>
    <p>All source code is licensed under <a href="http://www.gnu.org/licenses/gpl-2.0.html">GNU General Public License v2.0</a>.</p>
    <h2>Copyright</h2>
    <p>All other content on this website, such as text, graphics, logos and images is the property of Dustin Moris Gorski.</p>
</article>