@media (prefers-color-scheme: dark) {
    :root {
        --bg-color: #2c2f2f;
        --bg-color-dark: #2c2f2f;
        --table-odd-bg-color: #3f3f3f;
        --table-even-bg-color: #2f3131;
        --thin-border-color: rgba(255, 255, 255, 0.1);
        --thiner-border-color: rgba(200, 200, 200, 0.1);
        --label-fg-color: rgba(255, 255, 255, 0.5);
    }

    body {
        color: #ddd;
    }

    body > header h1 > span  {
        color: rgba(255, 255, 255, 0.8);
    }
    body > header h1 > svg {
        fill: #f1f1f1;
    }

    body > header h2 {
        color: rgba(255, 255, 255, 0.4);
    }

    #inner-header a hgroup:hover {
        color: #85e89d;
    }

    #inner-header a hgroup:hover h1 > svg {
        fill: #85e89d;
    }

    #inner-header a hgroup:hover h1 > span {
        color: #fff;
    }

    #inner-header a hgroup:hover h2 {
        color: #85e89d;
    }

    #inner-footer h5 {
        color: #bbb;
    }

    #inner-footer p {
        color: rgba(255, 255, 255, 0.4);
    }

    #nav-links a:link,
    #nav-links a:visited {
        color: #eee;
    }

    #nav-links a:hover {
        color: #85e89d;
    }

    #nav-links a:active {
        color: #eee;
    }

    #social-links svg {
        fill: rgba(255, 255, 255, 0.4);
    }

    #social-links svg:hover {
        fill: #85e89d;
    }

    #trending-list li,
    #blogpost-list li {
        border-color: rgba(255, 255, 255, 0.1);
    }

    #trending-list li > div > a,
    #blogpost-list li > div > a {
        color: #ccc;
    }

    #trending-list li > div > a:hover,
    #blogpost-list li > div > a:hover  {
        color: #85e89d;
    }

    h1, h2, h3, h4 ,h5 {
        color: #ddd;
    }

    p {
        color: #c1c1c1;
    }

    a {
        color: #85e89d;
    }

    .article-list a:link,
    .article-list a:visited {
        color: #ccc;
    }

    .article-list a:hover {
        color: #85e89d;
    }

    .article-list a:active {
        color: #ccc;
    }

    .article-list > h3 {
        color: rgba(255, 255, 255, 0.3);
    }

    .bmc-button {
        padding: .9em .7em;
        border: 2px solid rgb(243, 213, 7);
        background: var(--bg-color);
        color: rgb(243, 213, 7);
    }

    .bmc-button:hover {
        border: 2px solid rgb(243, 213, 7);
        background: #3f3f3f;
        color: rgb(243, 213, 7);
    }

    .msg-button {
        border: 2px solid #85e89d;
        background: #282a2a;
        color: #85e89d;
    }

    .msg-button svg {
        fill: #85e89d;
    }

    .msg-button:hover {
        background: #3f3f3f;
        color: #85e89d;
    }

    input,
    textarea {
        border-color: rgba(255, 255, 255, 0.3);
        color: #e1e1e1;
    }

    input[type=text]:focus,
    input[type=tel]:focus,
    input[type=email]:focus,
    textarea:focus {
        border-color: #85e89d;
    }

    code {
        background: rgba(255, 255, 255, 0.1);
        color: #ea9797;
    }

    pre > code {
        background: rgba(255, 255, 255, 0.1);
    }

    blockquote {
        background: rgba(255, 255, 255, 0.1);
        border-left: 5px solid #999;
    }

    .success-msg {
        background: #88c082bb;
    }
}