<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings file="D:\Secure\DustedCodes.Automation.Tests.Secure.App.config">
    <add key="Root_Url" value="https://dusted.codes/"/>
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
  </startup>
</configuration>
