<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <!--ASP.NET MVC Settings-->
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="false" />
    <add key="UnobtrusiveJavaScriptEnabled" value="false" />
    <!--Environment specific Settings-->
    <add key="Is_Production_Environment" value="false" />
    <add key="Use_Cache" value="false" />
    <add key="Disqus_Shortname" value="dev-dustedcodes" />
    <!--Custom Settings-->
    <add key="Blog_Title" value="Dusted Codes" />
    <add key="Blog_Description" value="Programming adventures" />
    <add key="Blog_PageSize" value="2" />
    <add key="Feed_MaxItemCount" value="10" />
    <add key="Articles_Directory_Path" value="~\App_Data\Articles" />
    <add key="Edit_Article_Url_Format" value="https://github.com/dustinmoris/DustedCodes/edit/master/DustedCodes.Blog/App_Data/Articles/{0}.md" />
    <add key="DateTime_Format" value="d MMM yyyy" />
    <add key="Html_DateTime_Format" value="yyyy-MM-ddTHH:mm:ss" />
    <add key="Twitter_ShareUrl_Format" value="https://twitter.com/intent/tweet?url={0}&amp;text={1}&amp;via=dustinmoris" />
    <add key="GooglePlus_ShareUrl_Format" value="https://plus.google.com/share?url={0}" />
    <add key="Facebook_ShareUrl_Format" value="https://www.facebook.com/sharer/sharer.php?u={0}" />
    <add key="Yammer_ShareUrl_Format" value="https://www.yammer.com/messages/new?login=true&amp;status={0}" />
    <add key="LinkedIn_ShareUrl_Format" value="https://www.linkedin.com/shareArticle?mini=true&amp;url={0}&amp;title={1}&amp;source=Dusted+Codes" />
    <add key="Reddit_ShareUrl_Format" value="http://www.reddit.com/submit?url={0}&amp;title={1}" />
    <add key="WhatsApp_ShareUrl_Format" value="whatsapp://send?text={0} - {1}" />
    <add key="GoogleAnalytics_ViewId" value="98578019" />
    <add key="GoogleAnalytics_PrivateKeyPath" value="C:\Secure\dusted-codes-cred.json" />
    <!--Lanem Settings-->
    <add key="Lanem_Log_Directory_Path" value="~\App_Data\Logs" />
  </appSettings>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.6.1" />
      </system.Web>
  -->
  <system.web>
    <compilation debug="true" targetFramework="4.6.1" />
    <httpRuntime targetFramework="4.6.1" enableVersionHeader="false" />
  </system.web>
  <system.webServer>
    <modules>
      <!-- Remove default ASP.NET modules which are not required by this website -->
      <remove name="WindowsAuthentication" />
      <remove name="FormsAuthentication" />
      <remove name="PassportAuthentication" />
      <remove name="FormsAuthentication" />
      <remove name="RoleManager" />
      <remove name="AnonymousIdentification" />
      <remove name="Profile" />
      <!-- Add global error logging -->
      <add name="ErrorHandlerModule" type="DustedCodes.Blog.Modules.SentryErrorHandlerModule, DustedCodes.Blog" />
    </modules>
    <httpErrors errorMode="Custom" defaultResponseMode="File" existingResponse="Replace">
      <remove statusCode="400" />
      <remove statusCode="403" />
      <remove statusCode="404" />
      <remove statusCode="500" />
      <error statusCode="400" path="Assets\ErrorPages\BadRequest.html" />
      <error statusCode="403" path="Assets\ErrorPages\Forbidden.html" />
      <error statusCode="404" path="Assets\ErrorPages\NotFound.html" />
      <error statusCode="500" path="Assets\ErrorPages\InternalError.html" />
    </httpErrors>
    <httpProtocol>
      <customHeaders>
        <remove name="X-Powered-By" />
        <add name="X-Frame-Options" value="Deny" />
        <add name="X-Content-Type-Options" value="nosniff" />
        <add name="X-Xss-Protection" value="1; mode=block" />
        <!-- Tell the Windows Azure Application Request Router to remove the ARR Affinity cookie -->
        <add name="Arr-Disable-Session-Affinity" value="True" />
      </customHeaders>
    </httpProtocol>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.OAuth" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.Cookies" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" culture="neutral" publicKeyToken="30ad4fe6b2a6aeed" />
        <bindingRedirect oldVersion="0.0.0.0-9.0.0.0" newVersion="9.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Optimization" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="1.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-1.5.2.14234" newVersion="1.5.2.14234" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Autofac" publicKeyToken="17863af14b0044da" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.1.0" newVersion="4.1.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="log4net" publicKeyToken="669e0ddf0bb1aa2a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.2.15.0" newVersion="1.2.15.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.2.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:6 /nowarn:1659;1699;1701" />
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.2.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:14 /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+" />
    </compilers>
  </system.codedom>
</configuration>